<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled"              value="true"/>
        <setting name="lazyLoadingEnabled"        value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel"            value="true"/>
        <setting name="useGeneratedKeys"          value="false"/>
        <!-- <setting name="defaultExecutorType"      value="SIMPLE"/> -->
        <setting name="defaultExecutorType"      value="BATCH"/>  <!-- 멀티 업데이트의 경우 배치를 사용하도록 설정 -->
        <setting name="defaultStatementTimeout"  value="25000"/>
        <!-- 전통적인 데이터베이스 컬럼명 형태인 A_COLUMN을 CamelCase형태의 자바 프로퍼티명 형태인 aColumn으로 자동으로 매핑하도록 함 -->
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
        <!--  파라미터에 Null 값이 있을 경우 에러 처리 -->
        <setting name="jdbcTypeForNull" value="VARCHAR"></setting>
    </settings>

    <typeAliases>
        <typeAlias alias="BoardSearchVo" type="com.joo.api.board.vo.BoardSearchVo"/>
        <typeAlias alias="BoardVo" type="com.joo.api.board.vo.BoardVo"/>
        <typeAlias alias="FileVo" type="com.joo.api.board.vo.FileVo"/>
    </typeAliases>

    <typeHandlers>
        <!--  java.sql.Timestamp 를 java.util.Date 형으로 반환 -->
        <typeHandler javaType="java.sql.Timestamp" handler="org.apache.ibatis.type.DateTypeHandler"/>
        <typeHandler javaType="java.sql.Time"      handler="org.apache.ibatis.type.DateTypeHandler"/>
        <typeHandler javaType="java.sql.Date"      handler="org.apache.ibatis.type.DateTypeHandler"/>
    </typeHandlers>

    <!--
    <plugins>
        <plugin interceptor="interceptor 구현체 클래스"/> sql log 찍기
    </plugins>
    -->
</configuration>